[Admin1]
address=172.30.2.57
user=admin
password=

[Admin2]
address=172.30.2.52
user=admin
password=

[Fax2]
address=172.30.2.59
user=admin
password=

[Staff]
address=172.30.2.61
user=admin
password=

